body {
  text-align: center;
  background: black;
  color: white;
  font-family: helvetica;
  /* text-shadow: rgb(255, 255, 255) 1px 0 40px; */
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr 30%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 3%;
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7b7d7e,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bcbebe,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
}

.img {
  border: 3px solid white;
  border-radius: 90%;
  margin-top: 10px;
  text-align: center;
}
/*
h1 {
  text-transform: uppercase;
}

h2 {
  text-decoration: underline;
}

p {
  font-weight: bold;
  line-height: 40px;
  word-spacing: 2px;
  text-align: center;
  font-size: 16px;
}

input {
  text-align: center;
  border: 0;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
}

input[type="submit"] {
  background: red;
  border-radius: 10%;
  color: white;
} */

/* EXPERIMENTAL WORK  */

header {
  grid-row: 1;
  grid-column: 1;
}

nav a {
  color: #ffffff;
}

.bio {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}
.bio p {
  padding: 2% 4% 4% 0;
  text-align: center;
  box-shadow: -1px 3px 5px grey;
}
.projects {
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
}

.skills {
  grid-row: 2 / span 1;
  grid-column: 1;
}

.contact {
  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
  font-size: 1rem;
}

.contact p {
  padding: 7%;
}

/* footer {
  background: black;
  border: 1px solid black;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
} */

.content {
  background: #212121;
  color: #ffffff; /*rgba(58, 62, 60, 1);*/
  margin-top: 0;
  padding-bottom: 3%;
  padding-top: 2.5%;
  box-shadow: -1px 3px 5px grey;
}

.heading {
  text-shadow: rgb(0, 0, 0) 0px 2px 0px;
}
/* .heading {
    background: rgba(239, 200, 140, 1);
    background-position: center;
    box-shadow: -1px 3px 5px grey;
    padding: 2% 0;
    margin-bottom: 0;
  } */

/* TODOS */
/* 1. increase line-height
    2. fix fonts*/

/* References
  https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow
  https://uigradients.com/
  https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow 
 
 */
