body {
  text-align: center;
  background: black;
  color: white;
  font-family: helvetica;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr 30%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 3%;
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7b7d7e,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bcbebe,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
  padding-bottom: 10%;
}

.img {
  border: 3px solid white;
  border-radius: 90%;
  margin-top: 10px;
  text-align: center;
}

/* EXPERIMENTAL WORK  */

header {
  grid-row: 1;
  grid-column: 1;
}

nav a {
  color: #ffffff;
}

.bio {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}
.bio p {
  padding: 4% 6%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  word-spacing: 0.2rem;
}

.projects {
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
}

.skills {
  grid-row: 2 / span 1;
  grid-column: 1;
}

.contact {
  grid-row: 3 / span 2;
  grid-column: 1 / span 3;
  font-size: 1rem;
  margin: 0 5%;
}

.contact p {
  font-size: 1.3rem;
  padding: 5%;
  display: inline-block;
  margin: 2%;
  padding: 0;
}

.contact div {
  border-radius: 1%;
}

.content {
  background: #212121;
  color: #ffffff; /*rgba(58, 62, 60, 1);*/
  margin-top: 0;
  padding-bottom: 3%;
  padding-top: 2.5%;
  box-shadow: -1px 3px 5px grey;
  border-radius: 1%;
  border-bottom: 2px solid grey;
}

.leftSpacer {
  margin-left: 2%;
}

.rightSpacer {
  margin-right: 2%;
}
.heading {
  text-shadow: rgb(0, 0, 0) 0px 2px 0px;
  font-size: 2rem;
}
.separator {
  border-bottom: 2px solid rgba(145, 149, 142, 0.8);
  padding-bottom: 5%;
}

/* References
  https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow
  https://uigradients.com/
  https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow 
 
 */
